<a
    [ngClass]="
        artist.selected && selectable
            ? 'selectedArtist scale-[101%] bg-slate-500'
            : backgroundColor
    "
    class="mb-2 flex h-full w-full cursor-pointer select-none rounded-md p-{{
        padding
    }} align-middle transition-transform"
    [routerLink]="'/artist/' + artist.id"
>
    <img
        class="h-{{ imgSize }} w-{{ imgSize }} flex-none rounded-{{
            imgRoundness
        }} object-fill"
        [src]="artist.image"
        [alt]="artist.name"
        draggable="false"
    />
    <div class="ml-4 flex w-[60%] flex-shrink flex-col justify-center">
        <p
            class="text-{{
                textSize
            }} text-secondaryText overflow-hidden text-ellipsis whitespace-nowrap"
        >
            {{ artist.name }}
        </p>
    </div>
    <div class="flex-grow"></div>
    <div
        *ngIf="showStar"
        class="mr-3 flex flex-none flex-col justify-center align-middle text-gray-400 hover:text-secondaryText"
    >
        <fa-icon
            (click)="
                $event.preventDefault();
                $event.stopPropagation();
                toggleFavorite()
            "
            [icon]="isFavorite() ? faStarSolid : faStarRegular"
            [class.text-yellow-400]="isFavorite()"
            [class.hover:text-yellow-600]="isFavorite()"
        ></fa-icon>
    </div>
    <div
        *ngIf="deletable"
        class="mr-3 flex flex-none flex-col justify-center align-middle text-gray-400 hover:text-secondaryText"
    >
        <fa-icon
            (click)="
                $event.preventDefault();
                $event.stopPropagation();
                deleteArtist()
            "
            [icon]="faXmark"
        ></fa-icon>
    </div>
</a>
