<nav class="bg-secondary w-full h-fit">
    <ul class="w-full h-12 flex items-center justify-around text-secondaryText">
        <li class="w-1/4 h-full flex items-center justify-center hover:bg-slate-700">
            <a class="w-full h-full flex items-center justify-center">
                Home
            </a>
        </li>
        <li class="w-1/4 h-full flex items-center justify-center hover:bg-slate-700">
            <a class="w-full h-full flex items-center justify-center">
                Section 1
            </a>
        </li>
        <li class="w-1/4 h-full flex items-center justify-center hover:bg-slate-700">
            <a class="w-full h-full flex items-center justify-center">
                Section 2
            </a>
        </li>
    </ul>
</nav>