<nav
    class="fixed z-40 h-[5.5vh] w-full select-none border-b-[1px] border-b-secondaryText bg-primary"
>
    <ul
        class="flex h-full w-full items-center justify-between text-secondaryText"
    >
        <li
            class="flex h-full w-1/4 cursor-pointer items-center justify-center hover:bg-hover"
        >
            <a
                class="flex h-full w-full items-center justify-center"
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <fa-icon [icon]="faHouse"></fa-icon>
                <p class="ml-2 hidden md:block" translate>nav.home</p>
            </a>
        </li>
        <li class="h-full w-full p-2 pr-6 md:hidden">
            <app-search-button></app-search-button>
        </li>
        <li class="flex h-full w-1/4 flex-initial items-center justify-center">
            <app-language-picker></app-language-picker>
        </li>
    </ul>
</nav>
