<div
    class="fixed top-0 flex h-full w-full justify-center backdrop-blur-sm backdrop-brightness-75"
    (click)="bgClick($event)"
>
    <div class="mt-[8vh] h-fit w-fit">
        <div
            class="searchbar flex max-h-[60h] min-h-[205px] w-[90vw] max-w-[758px] flex-col rounded-md bg-secondary shadow-inner shadow-[#ffffff12]"
        >
            <div
                class="flex flex-initial border-b-[1px] border-b-gray-500 p-4 text-secondaryText"
            >
                <label for="text" class="">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </label>
                <input
                    type="text"
                    id="text"
                    class="no ml-4 flex-grow bg-secondary text-sm focus:outline-none"
                    placeholder="Search for an artist"
                    autocomplete="off"
                    [(ngModel)]="searchValue"
                    (input)="search()"
                    (keyup.enter)="search()"
                    #searchInput
                />
                <fa-icon
                    (click)="closeSearch()"
                    class="cursor-pointer hover:text-red-500"
                    [icon]="faCircleXmark"
                ></fa-icon>
            </div>
            <div
                *ngIf="loading"
                class="flex h-fit w-full flex-grow animate-pulse flex-col items-center justify-center pt-2 pr-2 pl-2"
            >
                <div
                    *ngFor="let _ of [].constructor(3)"
                    class="mr-2 ml-2 mb-2 flex w-full items-center justify-between rounded-md bg-tertiary p-4"
                >
                    <div class="h-12 w-12 rounded-md bg-gray-400"></div>
                    <div class="ml-2 flex-grow">
                        <div
                            class="mb-2.5 h-2.5 w-24 rounded-full bg-secondaryText"
                        ></div>
                        <div class="h-2 w-32 rounded-full bg-gray-500"></div>
                    </div>
                    <div class=""></div>
                </div>
            </div>
            <div
                *ngIf="
                    artists.length == 0 && searchValue.length <= 2 && !loading
                "
                class="flex h-[147px] w-full flex-grow items-center justify-center"
            >
                <div class="text-secondaryText">No recent searches</div>
            </div>
            <div
                *ngIf="artists.length > 0 && searchValue.length > 2 && !loading"
                class="flex max-h-[450px] min-h-[96px] w-full flex-shrink flex-col overflow-y-auto border-t-gray-500 pt-2 pr-2 pl-2"
            >
                <app-artist
                    *ngFor="let artist of artists"
                    (mouseenter)="selectArtist(artist)"
                    (click)="selectArtist(artist); submit()"
                    [artist]="artist"
                ></app-artist>
            </div>
            <div
                *ngIf="
                    artists.length > 0 && searchValue.length <= 2 && !loading
                "
                class="flex max-h-[450px] min-h-[96px] w-full flex-shrink flex-col overflow-y-auto border-t-gray-500 pt-4 pr-2 pl-2"
            >
                <div
                    class="mb-2 pb-3 pr-2 text-lg font-medium text-secondaryText"
                >
                    Recent searches
                </div>
                <app-artist
                    *ngFor="let artist of artists"
                    (mouseenter)="selectArtist(artist)"
                    (click)="selectArtist(artist); submit()"
                    [artist]="artist"
                    [deletable]="true"
                    (deleteEvent)="deleteRecent($event)"
                ></app-artist>
            </div>
            <div
                *ngIf="
                    artists.length == 0 && searchValue.length > 2 && !loading
                "
            >
                <div
                    class="flex h-[147px] w-full flex-grow items-center justify-center"
                >
                    <div class="text-secondaryText">No results found</div>
                </div>
            </div>
            <div
                class="flex h-[57px] flex-none justify-end border-t-[1px] border-t-gray-500 align-middle"
            ></div>
        </div>
    </div>
</div>
