<h1 class="hidden">{{ album?.name }} songs</h1>

<section
    class="scroll ml-0 select-none p-2 md:ml-80 xl:ml-96 2xl:ml-[28rem]"
    #songssList
>
    <div class="w-full rounded-md bg-secondary shadow-inner shadow-[#ffffff11]">
        <div class="flex flex-col items-center justify-start p-4 sm:flex-row">
            <img
                [src]="album?.imageXL"
                class="h-60 w-60 transform-gpu drop-shadow-lg"
                alt="./assets/images/album-placeholder.png"
            />
            <h1
                class="m-4 mb-0 overflow-hidden text-ellipsis text-4xl font-medium sm:whitespace-nowrap sm:leading-loose md:whitespace-normal md:leading-9 xl:whitespace-nowrap xl:text-4xl xl:leading-loose"
            >
                {{ album?.name }}
            </h1>
        </div>

        <div class="grid grid-cols-1 gap-2 p-6 pt-0">
            <div *ngFor="let song of songs; let i = index" class="song-card">
                <ol role="table" class="">
                    <li
                        role="row"
                        class="flex cursor-pointer justify-between px-4 font-normal hover:text-hover"
                        (click)="playSong(song)"
                    >
                        <h2 class="grid grid-flow-col grid-cols-1 gap-2">
                            <span class="flex w-1 justify-end font-light"
                                >{{ i + 1 }}.</span
                            >
                            <span class="">{{ song.name }}</span>
                        </h2>
                        <p class="">{{ song.duration | date : "m:ss" }}</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section
    *ngIf="videoUrl"
    id="video-player"
    class="fixed inset-0 z-50 flex h-[100vh] w-full items-center justify-center overflow-hidden pb-[10vh]"
    (click)="bgClick($event)"
>
    <fa-icon
        [icon]="faXmark"
        class="absolute top-4 left-4 cursor-pointer hover:text-hover"
        (click)="videoUrl = undefined"
    ></fa-icon>
    <iframe
        [src]="videoUrl | safe"
        class="video-player mt-[10vh] h-[360px] w-[640px] bg-black drop-shadow-lg 2xl:h-[720px] 2xl:w-[1280px]"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
    ></iframe>
</section>
