<div
    [ngClass]="
        artist.selected
            ? 'selectedArtist scale-[101%] bg-slate-500'
            : 'bg-tertiary'
    "
    class="mb-2 flex h-full w-full cursor-pointer select-none rounded-md p-4 align-middle transition-transform"
>
    <img class="h-12 w-12 flex-none rounded-md" [src]="artist.image" />
    <div class="ml-4 flex flex-none flex-col justify-center">
        <div class="text-lg text-secondaryText">{{ artist.name }}</div>
    </div>
    <div class="flex-grow"></div>
    <div
        *ngIf="deletable"
        class="mr-3 flex flex-none flex-col justify-center align-middle text-gray-400 hover:text-secondaryText"
    >
        <fa-icon
            (click)="deleteArtist(); $event.stopPropagation()"
            [icon]="faXmark"
        ></fa-icon>
    </div>
</div>
