<aside
    class="fixed z-40 mt-14 hidden h-full w-full flex-col overflow-y-auto border-r-[1px] border-secondaryText bg-primary p-2 md:flex md:w-80 xl:w-96 2xl:w-[28rem]"
>
    <section><app-search-button></app-search-button></section>
    <section>
        <div *ngFor="let artist of artistList" class="mt-2">
            <app-artist-card
                class="h-20 bg-secondary"
                [artist]="artist"
                [hoverable]="true"
                backgroundColor="bg-secondary"
            ></app-artist-card>
        </div>
    </section>
</aside>
