<section
    class="scroll ml-10 p-2 md:ml-80 xl:ml-96 2xl:ml-[28rem]"
    *ngIf="concerts && concerts.length > 0"
>
    <div class="mb-2 h-4/6 w-full overflow-hidden rounded-lg bg-secondary" #map>
        <google-map width="100%" [center]="center" [zoom]="zoom">
            <map-marker
                *ngFor="let concert of markerPositions"
                [position]="concert"
            ></map-marker>
        </google-map>
    </div>
    <div
        class="grid grid-cols-2 gap-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
    >
        <a
            *ngFor="let concert of concerts"
            class="mb-2 flex h-full w-full transform-gpu cursor-pointer select-none flex-col rounded-md bg-secondary p-4 align-middle shadow-inner shadow-[#ffffff11] drop-shadow-xl transition-all duration-300 hover:scale-[101%] hover:bg-gray-500"
            target="_blank"
            [href]="concert.url"
        >
            <p>
                {{
                    concert.datetime | date : "mediumDate" : undefined : locale
                }}
            </p>
            <p class="text-lg">{{ concert.venue.country }}</p>
            <p class="text-sm">{{ concert.venue.city }}</p>
        </a>
    </div>
</section>

<section
    class="scroll ml-0 flex w-full justify-center md:pl-80 xl:pl-96 2xl:pl-[28rem]"
    *ngIf="concerts && concerts.length === 0"
>
    <h1 class="pt-[15%] text-xl" translate>concert.no_result</h1>
</section>
