<section class="scroll ml-10 p-2 md:ml-80 xl:ml-96 2xl:ml-[28rem]">
    <div class="mb-2 h-4/6 w-full bg-secondary" *ngIf="googleMapsURL">
        <iframe
            width="600"
            height="450"
            style="border: 0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            [src]="googleMapsURL | safe"
        >
        </iframe>
    </div>
    <div
        class="grid grid-cols-2 gap-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
    >
        <div
            *ngFor="let concert of concerts"
            class="mb-2 flex h-full w-full select-none flex-col rounded-md bg-secondary p-4 align-middle shadow-inner shadow-[#ffffff11]"
        >
            <p>{{ concert.datetime | date : "mediumDate" }}</p>
            <p class="text-lg">{{ concert.venue.country }}</p>
            <p class="text-sm">{{ concert.venue.city }}</p>
        </div>
    </div>
</section>
